/PracticaDeCampo-S2-Ejemplo/nbproject/private/
/PC2-S2-CasoEjemplo/PracticaDeCampo-S2-Ejemplo/nbproject/private/
/PracticaDeCampo-S3-Ejemplo/nbproject/private/
/PC3-S3-CasoEjemplo/PracticaDeCampo-S3-Ejemplo/nbproject/private/
